@inherits LayoutComponentBase
<div class="bg-info text-white p-2">
    <span class="navbar-brand ml-2">GEAR STORE Administration</span>
</div>
<div class="container-fluid">
    <div class="col-9 btn-admin" >
        <div class="col-3">
            <NavLink class="btn btn-outline-primary btn-block"
                     href="/admin/gamings"
                     ActiveClass="btn-primary text-white"
                     Match="NavLinkMatch.Prefix">
                Sản Phẩm
            </NavLink>
            <NavLink class="btn btn-outline-primary btn-block"
                     href="/admin/orders"
                     ActiveClass="btn-primary text-white"
                     Match="NavLinkMatch.Prefix">
                Đơn Đặt Hàng
            </NavLink>
            <NavLink class="btn btn-outline-primary btn-block"
                     href="/home/index"
                     ActiveClass="btn-primary text-white"
                     Match="NavLinkMatch.Prefix">
                Trang Chủ
            </NavLink>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>