@model MyCart
<div>
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Giỏ hàng: </b>
            @if (Model.Lines.Sum(x => x.Quantity) >= 2)
            {
                <text>@Model.Lines.Sum(x => x.Quantity)</text>
            }
            else
            {
                <text>@Model.Lines.Sum(x => x.Quantity)</text>
            }
        </small>
    }
    <a class="btn btn-sm btn-info navbar-btn" asp-page="/MyCart"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
