@model IEnumerable<string>
<a class="btn btn-block btn-outline-primary" asp-action="Index"
   asp-controller="Home" asp-route-genre="">
    Trang Chủ
</a>
@foreach (string genre in Model)
{
    <a class="btn btn-block
 @(genre == ViewBag.SelectedGenre
 ? "btn-primary": "btn-outline-primary")"
       asp-action="Index" asp-controller="Home"
       asp-route-genre="@genre"
       asp-route-gamingPage="1">
        @genre
    </a>
    
}
